<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marverenic.music" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".JockeyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activity.LibraryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:label="Search"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.LibraryActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search" />
        </activity>

        <activity
            android:name=".activity.LibraryPageActivity"
            android:label=""
            android:screenOrientation="fullUser" />

        <activity
            android:name=".activity.NowPlayingActivity"
            android:label="@string/header_now_playing"
            android:screenOrientation="fullUser"
            android:theme="@style/NowPlayingTheme" />

        <activity-alias
            android:name=".PlayWithJockey"
            android:label="@string/app_name"
            android:targetActivity=".activity.NowPlayingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.QueueActivity"
            android:label="@string/header_now_playing"
            android:parentActivityName=".activity.NowPlayingActivity"
            android:screenOrientation="fullUser" />

        <activity android:name=".activity.PlaylistActivity"
            android:parentActivityName=".activity.LibraryActivity"/>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/header_settings"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.LibraryActivity"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name=".PREFERENCES" />
                <category android:name="android.intent.category.preference" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/header_about"
            android:parentActivityName=".activity.LibraryActivity"
            android:screenOrientation="fullUser" />

        <service
            android:name="com.marverenic.music.PlayerService"
            android:process=":player" />

        <receiver android:name=".utils.MediaReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
