<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marverenic.music">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Used to read music -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Used to save playlists -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Used to fetch data from Last.fm and send bug reports -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Used to limit data usage on metered connections -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Used to play music when the device is locked -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> <!-- Used to add themed icons to the launcher -->

    <permission android:name="${applicationId}.MUSIC_BROADCAST_PERMISSION"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${applicationId}.MUSIC_BROADCAST_PERMISSION"/>

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="320"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:name=".JockeyApplication"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- Library Activity -->
        <activity android:name=".ui.library.LibraryActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"
            android:theme="@style/SplashTheme"/>

        <activity-alias
            android:name=".activity.LibraryActivity"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Red"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_red"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Orange"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_orange"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Yellow"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_yellow"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Green"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_green"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Blue"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_blue"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Purple"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_purple"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Grey"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_grey"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".activity.LibraryActivity$Black"
            android:targetActivity=".ui.library.LibraryActivity"
            android:icon="@mipmap/ic_launcher_black"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity android:name=".ui.browse.MusicBrowserActivity"/>

        <!-- Search Activity -->
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/header_search"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <!-- Instance Activities -->
        <activity
            android:name=".ui.library.playlist.contents.PlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity
            android:name=".ui.library.playlist.contents.AutoPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity
            android:name=".ui.library.album.contents.AlbumActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity
            android:name=".ui.library.artist.contents.ArtistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity
            android:name=".ui.library.genre.contents.GenreActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity
            android:name=".ui.library.playlist.contents.edit.AutoPlaylistEditActivity" />

        <!-- Play with Jockey (from search) intent filter -->
        <activity-alias
            android:name=".SearchWithJockey"
            android:label="@string/app_name"
            android:targetActivity=".ui.search.SearchActivity">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- Play with Jockey (from file) intent filter -->
        <activity-alias
            android:name=".PlayWithJockey"
            android:label="@string/app_name"
            android:targetActivity=".ui.library.LibraryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity-alias>

        <!-- About Activity -->
        <activity android:name=".ui.about.AboutActivity" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/header_settings"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name=".PREFERENCES" />
                <category android:name="android.intent.category.preference" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.settings.EqualizerActivity"/>

        <!-- Player Service -->
        <service
            android:name=".player.PlayerService"
            android:process=":player"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <!-- Media Browser service (for Android Auto) -->
        <service android:name=".player.browser.JockeyBrowserService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!-- Widgets -->
        <receiver android:name=".widget.SquareWidget"
            android:label="@string/widget_square_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="marverenic.jockey.player.REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/square_widget_info" />
        </receiver>

        <receiver android:name=".widget.WideWidget"
            android:label="@string/widget_wide_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="marverenic.jockey.player.REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/wide_widget_info" />
        </receiver>

        <receiver android:name=".widget.CompactWidget"
            android:label="@string/widget_compact_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="marverenic.jockey.player.REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/compact_widget_info" />
        </receiver>

        <!-- Broadcast Receivers -->
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".player.ServicePlayerController$Listener"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="marverenic.jockey.player.REFRESH"/>
                <action android:name="marverenic.jockey.player.INFO"/>
                <action android:name="marverenic.jockey.player.ERROR"/>
            </intent-filter>
        </receiver>

        <!-- Android Auto metadata -->
        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_play_arrow_24dp" />

        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/CarTheme" />

    </application>
</manifest>
